.container{
    display: grid;
    height: 30vh;
    grid-template-columns: auto auto auto ;
    grid-template-rows: 3fr 2fr;
    text-align: center;
    
}
h1{
    text-align: center;
}
#LEFTSIDEBAR{
    border:  solid;
}
main{
    border: solid;
}

#RIGHTSIDEBAR{ 
    border: solid;
}
#BOTTOMBAR{
    border: solid;
}


